[submodule "Proyecto Final/Tercer Avance/10B-PWA-Ruiz"]
	path = Proyecto Final/Tercer Avance/10B-PWA-Ruiz
	url = https://github.com/eduxal/10B-PWA-Ruiz/
[submodule "Proyecto Final/Tercer Avance/beautysys"]
	path = Proyecto Final/Tercer Avance/beautysys
	url = https://github.com/beautysysUTT/beautysys
